*.json
!hobovr/*/*/*.json
*.txt
!CMakeLists.txt
x64
Release
out
Debug
bin
__pycache__
.vs
*.user
t.py
t2.py
*.pyc
*.jpg
*.png
t2.py
openvr*.h
!hobovr/bin
t.cpp
tLOL
*.p
!images/*.jpg
!images/*.svg
!images/*.png
!hobovr/resources/icons/*.jpg
!hobovr/resources/icons/*.svg
!hobovr/resources/icons/*.png
*.drawio
*.egg-info
build
dist
.tox
.idea
*.pickle
driver/src/t
*.mp3
*.avi
*.out
!hobovr/*
!hobovr/*/*
!hobovr/*/*/*
!hobovr/*/*/*/*
*.log
Matrix3x3.hpp
Vector2.hpp
Vector3.hpp
Quaternion.hpp
boost/