*.json
!CMakeLists.txt
x64
Release
out
Debug
bin
__pycache__
.vs
*.user
t.py
t2.py
*.pyc
*.jpg
t2.py
openvr*.h
!sample/bin
t.cpp
tLOL
*.p
!images/*.jpg
!images/*.svg
*.drawio
*.egg-info
build
dist
.tox
.idea
*.pickle
driver/src/t